@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .fieldLabel{
        font-size: x-large;
    }
</style>
<div class="container">
    <div class="row">
        <fieldset class="form-group border p-3">
            <legend>Fuelings</legend>
            <input type="checkbox" name="fuel1" value="1" />
            <input type="checkbox" name="fuel1" value="2" />
            <input type="checkbox" name="fuel1" value="3" />
            <input type="checkbox" name="fuel1" value="4" />
            <input type="checkbox" name="fuel1" value="5" />
        </fieldset>
    </div>
    <div class="row">
        <div class="form-group border p-3">
            <label class="fieldLabel">Lean and Green</label><p/>
            <input id="lAndG" type="checkbox" />
        </div>
    </div>
    <div class="row">
        <fieldset class="form-group border p-3">
            <legend>Water</legend>
            <input type="checkbox" name="water" value="8" />
            <input type="checkbox" name="water" value="16" />
            <input type="checkbox" name="water" value="24" />
            <input type="checkbox" name="water" value="32" />
            <input type="checkbox" name="water" value="40" />
            <input type="checkbox" name="water" value="48" />
            <input type="checkbox" name="water" value="56" />
            <input type="checkbox" name="water" value="64" />
            <input type="checkbox" name="water" value="72" />
            <input type="checkbox" name="water" value="80" />
        </fieldset>

    </div>
    <div class="row">
        <fieldset class="form-group border p-3">
            <legend>Sleep</legend>
            <input type="checkbox" name="sleep" value="1"/>
            <input type="checkbox" name="sleep" value="2"/>
            <input type="checkbox" name="sleep" value="3"/>
            <input type="checkbox" name="sleep" value="4"/>
            <input type="checkbox" name="sleep" value="5"/>
            <input type="checkbox" name="sleep" value="6"/>
            <input type="checkbox" name="sleep" value="7"/>
            <input type="checkbox" name="sleep" value="8"/>
        </fieldset>
    </div>
    <div class="row ">
        <div class="form-group border p-3">
            <label class="fieldLabel">Exercise</label><p/>
            <input id="excCB" type="checkbox" name="exercise" />
        </div>
    </div>
</div>
